#blog {
	.container {
		display: flex;
    margin: 50px auto;
	}
	
	.article-content {
		width: 75%;
		h1 {
			text-align: center;
			margin-bottom: 50px;
		}
		p {
			font-size: 18px;
		}

		img {
			display: block;
			margin: 25px auto 50px auto;
			max-width: 100%;
		}
	}

	.articles-list {
		width: 25%;
		padding-top: 125px;
		padding-left: 50px;
		ul {

		}
	}
}

@media (max-width: 992px) {
	#blog .container {
		flex-wrap: wrap;
	}

	#blog .article-content {
		width: 100%;
	}

	#blog .articles-list {
		width: 100%;
		padding: 50px;
	}
}