#home-page {
	.hero-container {
		display: flex;
		max-height: 450px;
	}
	.hero-container > * {
		margin: 5px;
		box-sizing: border-box;
	}
	.hero-container .image {
		width: 60%;
		/*height: 450px;*/
		img {
			width: 100%;
			height: 100%;
		}
	}
	.hero-container .story {
		width: 40%;
		padding: 0px 50px;
		margin-left: 0px;
		background-color: #FFCB5A;
		display: flex;
		justify-content: center;
		flex-direction: column;
		h2 {
			text-align: left;
		}
	}
	.help-btns {
		margin-top: 10px;
		display: flex;
		justify-content: space-around;
	}
	.help-btns a {
		display: inline-block;
		border-radius: 5px;
		border: 1px solid white;
		padding: 5px 40px;
	    background-color: #8E4096;
	    color: #fff;
	}
	.help-btns a:hover {
		text-decoration: none;
	}
	.stats-bar {
		height: 125px;
		padding: 10px;
		margin: 0px 5px 5px 5px;
		background-color: #A7A9AB;
		display: flex;
		justify-content: space-around;
		align-items: center;
		> * {
			text-align: center;
		}
	}
	.help-bar {
		margin: 0px 5px 5px 5px;
		padding: 40px 0px 20px 0px;
		background-color: #8E4096;
		color: white;
		> * {
			text-align: center;
			margin: auto;
		}
		p {
			width: 50%;
		}
		.arrow-down {
			width: 0; 
			height: 0; 
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-top: 40px solid #8E4096;
			position: relative;
			bottom: -60px;
		}
	}
	.help-options-icons {
		display: flex;
		justify-content: center;
		margin-top: 75px;
		.icon {
			width: 25%;
		}
		.icon img {
			display: block;
			margin: auto;
		}
	}
	.help-options-block {
		display: flex;
		justify-content: center;
		margin: 100px 0px;
		.help-option {
			width: 25%;
			margin: 5px;
			padding: 0px 15px;
			background-color: #A7A9AB;
			text-align: center;
		}
		.help-option img {
			display: block;
			margin: auto;
		    position: relative;
		    bottom: 48px;
		}
		.help-option .flex-container {
			min-height: 190px;
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;
		}
		.help-option h2 {
			font-size: 24px;
			margin: 0px;
		}
		.help-option p {
			margin: 0px;
		}
		.help-option a {
			margin: 10px auto;
			padding: 5px 25px;
			border-radius: 5px;
			border: 1px solid white;
			background-color: #8E4096;
			color: #fff;
		}
		.help-option a:hover {
			text-decoration: none;
		}
	}
	.testimonial-heading {
		margin: 15px auto;
		padding: 0px 0px 40px 0px;
		text-align: center;
	}
	.testimonial-block {
		display: flex;
		justify-content: center;
		.testimonial {
			width: 23%;
			margin: 0px 25px;
			padding: 60px 20px;
			background-color: #8E4096;
			color: #fff;
		}
		.testimonial p {
			text-align: right;
		    padding-right: 15px;
		    padding-top: 15px;
		    font-weight: 900;
		}
	}
	.sponsors-block {
		margin: 50px 0px;
		h2 {
			margin: 75px auto 25px auto;
		    text-align: center;
		}
		img {
			width: 100%;
		}
	}
	.image-gallery-container {
		margin: 50px 0px;
		p {
		    text-align: center;
		    margin-top: 10px;
		    font-style: italic;
		}
		#image-carousel {
			width: 55%;
			margin: auto;
		}
	}
	.googleCalendar{
		position: relative;
		width: 75%;
		padding-bottom: 45% ;
	}

	.googleCalendar iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@media (max-width: 992px) {
	#home-page {
		.hero-container {
			flex-wrap: wrap;
			max-height: initial;
			.image {
				width: 100%;
			}
			.story {
				width: 100%;
				padding-bottom: 20px;
				margin-left: 5px;
			}
		}
		.stats-bar {
			flex-wrap: wrap;
			height: initial;
			.statistic {
				width: 100%;
			}
		}
		.help-options-icons {
			display: none;
		}
		.help-options-block {
			flex-wrap: wrap;
			margin-top: 65px;
			 .help-option {
			 	width: 75%;
			 	padding: 20px 10px;
			 }
			 .help-option img {
			 	display: none;
			 }
		}
		.testimonial-block {
			flex-wrap: wrap;
			.testimonial {
				width: 75%;
				margin: 7.5px 0px;
			}
		}
		.testimonial img {
			position: initial;
			margin: 5px auto;
		}
		.image-gallery-container #image-carousel {
			width: 100%;
			margin: auto;
		}
		.googleCalendar {
			width: 100%;
			padding-bottom: 75%;
		}
	}
}